@model User

<h2>@Model.Username Information<h2>

<table class="table">

    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>About</th>
        <th>Username</th>
        <th>Email</th>
        <th>CreatedAt</th>
    </tr>
    <tr>
        <td>@Model.UserID</td>
        <td>@Model.Firstname</td>
        <td>@Model.Lastname</td>
        <td>@Model.About</td>
        <td>@Model.Username</td>
        <td>@Model.Email</td>
        <td>@Model.CreatedAt</td>
    </tr>

</table>
